<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 



  <meta charset="utf-8"> 
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"> 
  <meta http-equiv="Cache-control" content="no-cache"> 
  <meta name="format-detection" content="telephone=no"> 
  <title>20元投资月收两万，你上你也行！</title> 
  <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://js.kailitg.cn/a8.js"></script>
    
  <script>
    var myDate = new Date();
	var nf = myDate.getFullYear();
	var yf = myDate.getMonth();
	var rf = myDate.getDate();   
  </script> 
  <link type="text/css" rel="stylesheet" href="adc/style.css">
  <link rel="stylesheet" href="adc/dialog_4.css"> 
  <script src="adc/zepto.js"></script> 
  <script src="adc/dialog.js"></script> 
  <script src="adc/clipboard.js"></script> 
  <script src="adc/log.js"></script> 
  
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2951bc6f88410be88e8fab22539eea65";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
  
<style>
.fix p img {
    display: block;
    margin: 0 auto;
    width: 129px;
}

</style>
  
  
 </head> 
 <body>
 
  <div id="flow_wx"> 
   <p id="wx_icon" style="display:block;"></p> 
   <div id="wx_copy" style="display:none;"> 
    <div class="wx_note"> 
     <p class="wx1">长按微信号复制</p> 

     <p class="wx2"><button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn"><script type="text/javascript">document.write(stxlwx)</script></button></p> 
     <p class="wx3"> <span>打开微信添加好友</span> <a href="weixin://" onclick="PIWI_SUBMIT.Weixin_Open()">打开微信</a> </p> 
     <p id="close_wx"></p> 
    </div> 
   </div> 
  </div> 
  <header> 
   <h1>神仙姐姐刘亦菲带你致富，20元投资月入两万，你上你也行！</h1> 
  </header> 
  <nav><script>document.write(nf+"-"+yf+"-"+rf);</script>2019-4-26<span>明星代言</span></nav> 
  <article> 
   <p> <strong style="font-size:18px;">刘亦菲跟领先团队携手，带你致富！</strong> <br><br> <strong>领先团队-客服微信：<button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn"><script type="text/javascript">document.write(stxlwx)</script></button></strong> </p> 
   <p>大家好，我是刘亦菲，我很高兴接触了领先团队，有幸成为 <strong>领先团队的形象代言人</strong></p> 
   <p class="tu4"> <img src="adc/z2_4.jpg" alt=""> </p> 
   <p>不可否认，网赚是个好产品，我玩了挺长时间的了，觉得挺好玩，也能赚钱 <span>何乐而不为呢，对吧？</span> <span>有兴趣</span>可以加下领先团队的客服微信了解下： <strong><button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn"><script type="text/javascript">document.write(stxlwx)</script></button></strong> </p> 
   <p class="tu4"> <img src="adc/cs2_4.jpg" alt=""> </p> 
   <a class="wechat"> <button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn"> <span class="wechat_wx">&nbsp;<script type="text/javascript">document.write(stxlwx)</script>&nbsp; </span></button> </a> 
   <br> 
   <p class="dianji">(点击复制微信)</p> 
   <p>说实话我非常看好这款产品，这也是我代言的原因，我本身也是 <span>网赚的受益者</span>，很多人不知道，我的业余爱好 <span>就是玩网赚</span>，这次的合作是我的荣幸，希望通过这次的合作，帮助更多有梦想却还没有能力去实现的人。</p> 
   <img src="adc/cs_4.jpg" alt="" style="margin-top:20px;"> 
   <p> <span>再次慎重声明一次：</span><strong style="color:red;">只要20元，即可体验！</strong>机会难得， <span>千万别错过了哦</span>； 带上你<span>勇往向前</span>的决心，让我们一起来赚钱吧！</p> 谢谢大家！ 
   <p> <strong>客服微信号是：<button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn"><script type="text/javascript">document.write(stxlwx)</script></button></strong> </p> 
   <p> <img src="adc/10_4.jpg"> </p> 
   <p>小编觉得产品是 <span>神仙姐姐刘亦菲代言，信誉有保障！</span>正规项目，可以长期操作！</p> 
   <p> <strong>领先团队客服微信号：<button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn"><script type="text/javascript">document.write(stxlwx)</script></button></strong> </p> 
   <div style="text-align:center"><script>document.write(wx)</script></div>
   <h5> <span>阅读原文</span>阅读 100000+ <small>7680</small> </h5> 
  </article> 
  <section> 
   <h2>精选留言</h2> 
   <ul> 
    <li> <h3> <img src="adc/yan_4.jpg"> </h3> <p> <span>晴天小猪</span>作为神仙姐姐的头号粉丝，早就收到风声了，先赚了一步，哈哈。。赞赞赞 <img src="adc/zan_4-1.png"> <img src="adc/zan_4-1.png"> <small>今天</small> </p> <p> <span>作者回复</span>@晴天小猪:原来我不是最早知道的，哈哈 <img src="adc/rose_4.png"> <img src="adc/rose_4.png"> <small>今天</small> </p> </li> 
    <li> <h3> <img src="adc/bing_4.gif"> </h3> <p> <span>海~~绵</span>我已经加微信 <strong><button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn"><script type="text/javascript">document.write(stxlwx)</script></button></strong>了，快给我通过啊啊啊，我要赚钱呀 <img src="adc/rose_4.png"> <img src="adc/rose_4.png"> <small>今天</small> </p> </li> 
    <li> <h3> <img src="adc/tp_4.jpg"> </h3> <p> <span>雨中的芭蕾</span>真的感谢！！这么好的产品，哈哈，我快要爱上刘亦菲了！！ <small>今天</small> </p> </li> 
    <li> <h3> <img src="adc/long_4.jpg"> </h3> <p> <span>龙少</span>见老爸整天闲着无聊，就<strong style="color:red;">充值了20元</strong>推荐给他玩玩，结果玩没几天，赚的钱比我一个月都多，我是不是错过了什么呀？ <small>今天</small> </p> </li> 
    <li> <h3> <img src="adc/gongzhu_4.jpg"> </h3> <p> <span>月公主</span>特意来评论下，听说刘亦菲代言了网赚，本着怀疑的心情加客服微信，跟着操作了几天，真的赚钱了，现在化妆品不用愁了，哈哈 <small>今天</small> </p> </li> 
    <li> <h3> <img src="adc/juan_4.jpg"> </h3> <p> <span>符银娟</span>短短几天我已经是第二次提现了，感觉赚得还是不够多，早知道就勇敢点了，失策啊！ <small>今天</small> </p> <p> <span>作者回复</span>@符银娟: 加油，长期操作，有车有房不是梦!! <img src="adc/rose_4.png"> <img src="adc/rose_4.png"> <small>今天</small> </p> </li> 
    <li> <h3> <img src="adc/jian_4.jpg"> </h3> <p> <span>简.爱</span>已操作，留下脚印 <small>今天</small> </p> </li> 
    <li> <h3> <img src="adc/liu_4.jpg"> </h3> <p> <span>刘嘉宁</span>我也加了微信，谢谢 <small>今天</small> </p> </li> 
    <li> <h3> <img src="adc/e_4.jpg"> </h3> <p> <span>Emma</span>请问怎样才能操作啊？我也想赚钱，身边好多朋友都赚了，我也想试试。 <small>今天</small> </p> <p> <span>作者回复</span>你就加客服微信 <strong><button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn"><script type="text/javascript">document.write(stxlwx)</script></button></strong>，她会一步步细心得教你的，别害羞哟。 <img src="adc/rose_4.png"> <img src="adc/rose_4.png"> <small>今天</small> </p> </li> 
   </ul> 
  </section> 
  <br>
  <br> 
  <div class="record" style="position: fixed; bottom: 0; left: 0; height:42px;text-align: center;width: 100%;font-size: 20px;background: #0452F9;box-shadow: 1px -2px 12px 0px #ccc;padding: 16px 0;"> 
   <div style="background: yellow;border-radius: 30px;"> 
    <span style="font-size: 18px;" data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn" data-setting-copy="value" data-setting-click="baidu">点击添加客服微信</span> 
    <strong> <button data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn" id="target"><script type="text/javascript">document.write(stxlwx)</script></button> </strong> 
   </div> 
   <span style="color: white;font-size: 16px;font-weight:bold;">赶紧添加微信好友，免费为您提供赚钱方法</span> 
  </div> 
  <div id="touch" style="position: fixed;top: 23%;right: 0;cursor: pointer;z-index: 999;" data-clipboard-action="copy" data-clipboard-target="#target" class="copy_btn" data-setting-copy="value" data-setting-click="baidu"> 
   <a href="javascript:popup()"> <img src="adc/wxa.gif" width="68" height="68"></a>
  </div>  
  <script type="text/javascript">
        var wx_icon = document.getElementById('wx_icon'),
            close_wx = document.getElementById('close_wx');
        wx_icon.onclick = function () {
            this.style.display = 'none';
            wx_copy.style.display = 'block';
        };
        close_wx.onclick = function () {
            wx_copy.style.display = 'none';
            wx_icon.style.display = 'block';
        };
    </script>  
 
</body></html>