<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="{:url('index/console')}">
            <span>软文推广(V1.2)</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">

            <li data-name="home" class="layui-nav-item">
                <a href="javascript:;" lay-tips="主页" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>主页</cite>
                </a>
            </li>

            <li data-name="template" class="layui-nav-item">
                <a href="javascript:;" lay-tips="数据管理" lay-href="{:url('data/index')}" lay-direction="2">
                    <i class="layui-icon layui-icon-template"></i>
                    <cite>数据管理</cite>
                </a>
            </li>

            <li data-name="wechat" class="layui-nav-item">
                <a href="javascript:;" lay-tips="链接配置" lay-href="{:url('urlconfig/index')}" lay-direction="2">
                    <i class="layui-icon layui-icon-link"></i>
                    <cite>链接配置</cite>
                </a>
            </li>
            
            <li data-name="wechat" class="layui-nav-item">
                <a href="javascript:;" lay-tips="微信管理" lay-href="{:url('wxmanage/index')}" lay-direction="2">
                    <i class="layui-icon layui-icon-login-wechat"></i>
                    <cite>微信管理</cite>
                </a>
            </li>

            <li data-name="senior" class="layui-nav-item">
                <a href="javascript:;" lay-tips="模板设置" lay-direction="2">
                    <i class="layui-icon layui-icon-template-1"></i>
                    <cite>模板设置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a lay-href="{:url('template/wxtemp')}">微信模板</a>
                    </dd>
                    <dd>
                        <a lay-href="{:url('template/ymtemp')}">页面模板</a>
                    </dd>
                </dl>
            </li>

            <li data-name="senior" class="layui-nav-item">
                <a href="javascript:;" lay-tips="系统设置" lay-direction="2">
                    <i class="layui-icon layui-icon-set"></i>
                    <cite>系统设置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a lay-href="{:url('system/dbbackup')}">数据库备份</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>