{include file="public:head" /}

<style>
	.btn-container { margin-bottom: 10px; }
	.layui-table-cell .layui-form-checkbox[lay-skin=primary], .layui-table-cell .layui-form-radio[lay-skin=primary] { margin-top: 5px; }
</style>

<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-header">页面模板管理</div>
		<div class="layui-card-body">
			<div class="btn-container">
				<button class="layui-btn" onclick="pop()">添加模板</button>
				<button class="layui-btn layui-btn-danger" id="moreDel">批量删除</button>
			</div>
			<table id="table" lay-filter="table" lay-data="{id: 'table'}"></table>
		</div>
	</div>
</div>

<script>
	// 定义地址
	var u = {
		deleted: "{:url('ymdelete')}",	// 删除数据
	};

	layui.use(['table', 'form'], function() {
		var table = layui.table;
		var form  = layui.form;

		table.render({
			elem: "#table",
			url: "{:url('ymtemp')}",
			page: true,
			done: function(res) {
			},
			cols: [[
				{type: 'checkbox', fixed: 'left'},
				{field: 'id', title: '模板ID', width: 80, align: 'center'},
				{field: 'name', title: '模板名称', width: 200, align: 'center'},
				{field: 'abspath', title: '模板路径', width: 220, align: 'center'},
				{field: 'update_time', title: '更新时间', width: 180, align: 'center'},
				{title: '操作', width: 120, align: 'center', templet: '#operation'}
			]]
		});

		// 监听工具栏
		table.on('tool(table)', function(o) {
			var d   = o.data,
				lEv = o.event,
				tr  = o.tr

			if (lEv == 'detail') pop(d);
			if (lEv == 'deleted') _671.deleted(d.id, u.deleted);
		})

		// 批量删除
		$('#moreDel').click(function() {
			var checklist = table.checkStatus('table')

			var id = ''
			for (var i=0; i<checklist.data.length; i++) {
				id += checklist.data[i].id
				id += i == checklist.data.length-1 ? '' : ','
			}
			_671.deleted(id, u.deleted)
		})
	});

	// 弹出层
	var pop = function(data) {
		var title = data == null ? '模板添加' : data.name,
			url = 'ymsave?id='
			param = data == null ? '' : data.id

		layer.open({
			type: 2,
			title: title,
			shade: 0,
			offset: '100px',
			content: url + param,
			area: ['600px', '300px'],
			maxmin: true
		})
	}
</script>

<script type="text/html" id="operation">
	<a class="layui-btn layui-btn-xs" lay-event="detail">编辑</a>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="deleted">删除</a>
</script>
