html,
body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    background: #ff8602;
    -moz-osx-font-smoothing: grayscale;
    /*firefox 抗锯齿*/
    -webkit-font-smoothing: subpixel-antialiased；/*chrome、safari 抗锯齿*/
}

body {
    max-width: 400px;
    margin: 0 auto;
}

.box {
    height: auto;
    position: relative;
    margin: 0 auto;
}

.banner {
    float: left;
    width: 100%;
}

.banner img {
    width: 100%;
}

.a {
    float: left;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

.a img {
    width: 47%;
    margin: 1% 0 0 1.5%;
    display: inline-block;
}

.b {
    width: 100%;
    height: 32rem;
    position: relative;
    float: left;
}

.b img {
    width: 100%;
}

.c {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.c img {
    width: 90%;
}

.c_box {
    background: #e87903;
    width: 90%;
    margin: 1rem auto;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    box-sizing: border-box;
    color: #333;
    text-shadow: 1px 1px 1px #efa75b;
    box-shadow: 1px 1px 1px #efa75b;
}

.c_box img {
    width: 50%;
    margin-right: 1rem;
}

.c_box b {
    font-size: 1.5rem;
}

.c_box p {
    margin-bottom: 0;
}

.d {
    float: left;
    width: 100%;
}

.d_box {
    width: 90%;
    margin: 0 auto;
    background: #e87903;
    padding: 1rem;
    box-sizing: border-box;
    color: #333;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #efa75b;
    box-shadow: 1px 1px 1px #efa75b;
}

.d_box h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.d_box h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 1px 1px 1px #333;
    ;
    text-align: center;
}

.d_box img:nth-child(3) {
    text-align: left;
    width: 66%;
}

.d_box img:nth-child(5) {
    text-align: right;
    width: 30%;
}

.d_box p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.d_box p b {
    color: #d40707;
}

.e p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.e h1 {
    text-align: center;
}

.e {
    float: left;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    color: #333;
    text-shadow: 1px 1px 1px #efa75b;
    box-shadow: 1px 1px 1px #efa75b;
}

.e_box {
    background: #321b03;
    border-radius: 10px;
    text-align: center;
    color: #ff8602;
    padding: 1rem;
    text-shadow: none;
    box-shadow: none;
}

.e p b {
    color: #f20808;
    font-size: 2.5rem;
}

.btn {}

.span1 {
    background: none !important;
}

#foo5 {
    position: fixed;
    z-index: -1;
    opacity: 0.02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 1rem;
    margin: auto;
}

.e_box p button {
    border: none;
    background: #ff0e0e;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bolder;
}

#wximg3 img {
    width: 80%;
}

.wrap {
    text-align: left;
    font-size: 12px;
    margin-left: -20px;
    margin-top: 73px;
}

.roll-wrap {
    height: 10rem;
    overflow: hidden;
}

.roll-wrap ul li {
    list-style-type: none;
}

.b button {
    border: none;
    font-size: 1.25rem;
    width: 10rem;
    background: red;
    padding: 0.2rem 0;
    border-radius: 5px;
}

.box_left {
    width: 50%;
    text-align: center;
    float: left;
}

.box_left h1 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.box_left img {
    width: 80%;
    margin-top: 1rem;
}

.box_right {
    width: 44%;
    padding: 1rem;
    border-radius: 10px;
    float: right;
    box-sizing: border-box;
    height: 300px;
    margin-right: 18px;
    background: #e87903 url(../img/b-2.png) no-repeat;
    background-size: 88% 26%;
    background-position: -5px -11px;
}